@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #333;
  text-align: left; 
  line-height: 2; 
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  padding-top: 100px;
}

.header-menu {
  display: flex;
}

.header-left h1 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 1px;
}

.header-right {
  margin-left: auto;
  padding: 25px 30px 0 0;
}

.header-right .fa-brands,
.header-right .fa-solid { 
  padding: 0 5px;
  opacity: 0.6;
}

.header-right .fa-brands:hover,
.header-right .fa-solid:hover {
  opacity: 1;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}

.nav-list li {
  font-size: 22px;
  padding: 0 25px;
  letter-spacing: 1px;
}

.nav-list li:hover {
  text-decoration: underline;
}

.hero {
  width: 100%;
  padding-top: 40px;
}

.contents {
  display: flex;
}

.about-text {
  font-size: 18px;
  padding-left: 80px;
}

.name {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 20px;
}

.main-text {
  font-size: 17px;
  padding-top: 20px;
}

.main-logo {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  padding: 100px 0 60px 0;
}

.my-photo img {
  width: 330px;
  padding: 10px 0 0 60px;
}

.about-text a {
  opacity: 0.6;
}

.about-text a:hover {
  opacity: 1;
  color: #073bf9;
}

.skill-content {
  width: 50%;
  text-align: center;
}

.skill-content h1 {
  font-size: 25px;
}

.skill-content i {
  padding: 30px 0 30px 0;
}

.sub {
  opacity: 0.5;
  font-size: 15px;
}

.skill-text {
  font-size: 18px;
  text-align: left;
  width: 80%;
  margin: 0 auto;
}

.project-wrapper p {
  font-size: 20px;
  text-align: center;
}

.project-contents img {
  width: 45%;
  margin: 2% 2%;
  border: 4px solid #f2f1f1;
}

.project-contents img:hover {
  opacity: 0.5;
}

.project-contents {
  text-align: center;
}

.contact-wrapper {
  text-align: center;
  font-size: 20px;
}

.email-info {
  text-align: center;
  font-size: 36px;
  text-decoration: underline;
}

.contact-menu {
  text-align: center;
  padding: 50px 50px;
}

.contact-menu .fa-solid,
.contact-menu .fa-brands {
  padding: 0 4%;
  opacity: 0.6;
}

.contact-menu .fa-solid:hover,
.contact-menu .fa-brands:hover {
  opacity: 1;
}

footer {
  text-align: center;
  padding: 0 0 20px 20px;
  padding: 30px 0 30px 0;
  background: #333;
  color: #fff;
}